* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.mainBody {
  width: 100%;
  height: 100vh;
  background: orange;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}


.CardMain {
  display: flex;

}

.CardMain>section {
  width: 23vw;
  height: 50vh;
  border: 1px solid;
}